*{
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif;
}

body{
	background-color: #DCDCDC;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
}

header{
	background-color: grey;
}

header ul li{
	display: inline-block;
}

header ul li#seco{
	margin-right: 10px;
	vertical-align: top;
	float: right;
}


footer{
	background-color: grey;
	position: fixed; bottom: 0; left: 0; right: 0;
	padding-left: 10px;
}

#roleGentil{
	margin-top: 10px;
	text-align: center;
	color: blue;
	font-size: 1.3em;
}

#roleMechant{
	margin-top: 10px;
	text-align: center;
	color: red;
	font-size: 1.3em;
}

#avancement{
	margin-top: 20px;
	margin-left: 15px;
	font-size: 1.5em;
	line-height: 2em;
}

#pseudoCurrent{
	color: #ED774F;
	font-size: 2em;
	
}

#pseudoGentil{
	color:blue;
	font-size: 2em;
}

#pseudoMechant{
	color:red;
	font-size: 2em;
}

#pseudoPlayerNotCurrent{
	font-size : 2em;
}

div#tableaudejeu{
	width: 100%;
	display : flex;
	flex-direction: row;
	justify-content: space-between;
}

#pseudoCardsUser{
	position: absolute; 
	bottom: 2em; 
	margin-left: 15px;
}


div#tableaudejeu div.rightbox{
	vertical-align: top;
	text-align: right;
	margin-top: 20px;
	margin-right: 15px;
	font-size: 1.3em;
	line-height: 2em;
}

#Cards{
	display: inline-block;
}

#linkRules{
	cursor: default;
}

#body{
	padding:10px;
}
